matplotlib==3.5.1
sklearn==0.0
stockstats==0.4.1
yfinance==0.1.72
pandas==1.4.2
numpy==1.22.3
TA-Lib @ file:///C:/Users/USER/OneDrive%20-%20%E5%9C%8B%E7%AB%8B%E9%99%BD%E6%98%8E%E4%BA%A4%E9%80%9A%E5%A4%A7%E5%AD%B8/%E6%96%87%E4%BB%B6/academic/%E5%A4%A7%E4%B8%89%E4%B8%8B/AI/Project1/code/Predicting%20long%20short%20of%20stocks%20by%20indicators%20resonance/TA_Lib-0.4.24-cp310-cp310-win_amd64.whl